<template>
  <div>
    <h2>About project</h2>
    <span>There are tools for classification and searching open government data and data from social network vk.com</span>
  </div>
</template>

<script>
  export default {
    name: 'AboutPage'
  }
</script>
