<template>
  <div>
    <template v-for="item in items">
      <explorer-item-short :item="item"
                           @open="open(item.identifier)"
                           @openSite="openSite(item.identifier)"
      >
      </explorer-item-short>
      <div style="height: 20px"></div>
    </template>
    <preloader :model="dialog"
               text="Loading...">
    </preloader>
  </div>
</template>

<script>
  import ExplorerItemShort from '@/components/ExplorerItemShort'
  import Preloader from '@/components/Preloader'
  export default {
    name: 'example-page',
    components: {
      ExplorerItemShort,
      Preloader
    },
    data () {
      return {
        items: [{
          identifier: '7710747640-roznvn',
          title: 'Сведения о розничной продаже: Вино (натуральное)  (по субъектам Российской Федерации)',
          organization: '7710747640',
          organization_name: 'Федеральная служба по регулированию алкогольного рынка',
          topic: 'Government',
          format: 'csv'
        }, {
          identifier: '1701048891-centres',
          title: 'Центры повышения квалификации в Республике Тыва',
          organization: '1701048891',
          organization_name: 'Министерство образования и науки Республики Тыва',
          topic: 'Government',
          format: 'csv'
        }, {
          identifier: '7712345678-dataset-5',
          title: 'Статистическая информация о ситуации на регистрируемом рынке труда (еженедельный)',
          organization: '7712345678',
          organization_name: 'Федеральная служба по труду и занятости',
          topic: 'Government',
          format: 'xml'
        }, {
          identifier: '7704206201-country',
          title: 'Перечень стран и режимов въезда на их территорию',
          organization: '7704206201',
          organization_name: 'Министерство иностранных дел Российской Федерации',
          topic: 'Tourism',
          format: 'csv'
        }, {
          identifier: '7712345678-chaz',
          title: 'Реестр аккредитованных частных агентств занятости',
          organization: '7712345678',
          organization_name: 'Федеральная служба по труду и занятости',
          topic: 'Government',
          format: 'xml'
        }, {
          identifier: '7604003720-rezprovmed',
          title: 'Результаты проверок лицензионного контроля в 2016 году (медицинская деятельность) проведенных ДЗиФ',
          organization: '7604003720',
          organization_name: 'Правительство Ярославской области',
          topic: 'Government',
          format: 'csv'
        }],
        dialog: true
      }
    },
    methods: {
      open (id) {
        this.$router.push({
          name: 'ExplorerItemPage',
          params: {
            id: id
          }
        })
      },
      openSite (id) {
        window.open(`https://data.gov.ru/opendata/${id}`, '_blank')
      }
    },
    async mounted () {
      this.dialog = false
    }
  }
</script>

<style scoped>

</style>
