<template>
  <div>
    <v-btn @click="back()">Back</v-btn>
    <explorer-item :item="item"></explorer-item>
    <preloader :model="dialog"
               text="Loading...">
    </preloader>
  </div>
</template>

<script>
  import SmartCityService from '@/services/SmartCityService'
  import ExplorerItem from '@/components/ExplorerItem'
  import Preloader from '@/components/Preloader'
  export default {
    name: 'exlorer-item-page',
    components: {
      ExplorerItem,
      Preloader
    },
    data () {
      return {
        item: null,
        dialog: true
      }
    },
    methods: {
      back () {
        this.$router.push('/')
      }
    },
    async mounted () {
      this.dialog = true
      this.item = await SmartCityService.getDataItem(this.$route.params.id)
      this.dialog = false
    }
  }
</script>

<style scoped>

</style>
