<template>
  <explorer></explorer>
</template>

<script>
  import Explorer from '../components/Explorer'

  export default {
    name: 'HomePage',
    components: {
      Explorer
    }
  }
</script>
