<template>
  <div>
    <h2>VKPage</h2>
    <v-text-field
      label="VK ID or short name"
      v-model="vkId"
    ></v-text-field>
    <v-btn @click="getInfo()">Get Info</v-btn>
    <template v-if="!!data">
      <v-card v-if="!data.user.error">
        <v-card-text v-for="(str, strIndex) in userStrings"
                     :key="`userStrings${strIndex}`">
          <v-layout row text-xs-left>
            <v-flex sm2 xs4 class="text-field">
              <span class="subheading">{{str}}</span>
            </v-flex>
            <v-flex sm10 xs8 class="text-field">
              <span>{{data.user.response[0][str]}}</span>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-text v-for="(str, strIndex) in userObjects"
                     :key="`userObjects${strIndex}`">
          <v-layout row text-xs-left>
            <v-flex sm2 xs4 class="text-field">
              <span class="subheading">{{str}}</span>
            </v-flex>
            <v-flex sm10 xs8 class="text-field">
              <span>{{data.user.response[0][str]}}</span>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
      <v-expansion-panel expand v-if="!data.subs.error">
        <v-expansion-panel-content v-for="(itemData, itemDataIndex) of data.subs.response.items"
                                   :key="itemDataIndex"
        >
          <div slot="header">{{itemData.name}}</div>
          <v-card>
            <v-card-text>
              <v-layout row text-xs-left v-for="(str, strIndex) in subsString" :key="`${itemDataIndex}-${strIndex}`">
                <v-flex sm2 xs4 class="text-field">
                  <span class="subheading">{{str}}</span>
                </v-flex>
                <v-flex sm10 xs8 class="text-field">
                  <span>{{itemData[str]}}</span>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </template>
    <preloader :model="dialog"
               text="Loading...">
    </preloader>
  </div>
</template>

<script>
  import VKService from '@/services/VKService'
  import Preloader from '@/components/Preloader'

  const userStrings = ['sex', 'bdate', 'home_town', 'has_photo', 'photo_200', 'online', 'domain', 'has_mobile', 'contacts', 'site', 'education', 'status', 'followers_count', 'nickname', 'relatives', 'relation', 'connections', 'exports', 'wall_comments', 'activities', 'interests', 'music', 'movies', 'tv', 'books', 'games', 'about', 'quotes', 'timezone', 'screen_name', 'maiden_name', 'military']
  const userObjects = ['city', 'country', 'career', 'occupation', 'last_seen', 'personal', 'universities', 'schools']

  const subsString = ['name', 'screen_name', 'type', 'photo_200', 'city', 'contacts', 'country', 'description']

  export default {
    name: 'VKPage',
    components: {
      Preloader
    },
    data () {
      return {
        vkId: '47081260',
        data: null,
        userStrings: userStrings,
        userObjects: userObjects,
        subsString: subsString,
        dialog: false
      }
    },
    methods: {
      async getInfo () {
        this.dialog = true
        this.data = await VKService.getInfo(this.vkId)
        this.dialog = false
      }
    }
  }
</script>

<style scoped>
  .text-field {
    word-break: break-all;
  }
</style>
