<template>
  <div class="hello">
    <v-card v-if="!!item">
      <v-card-text>
        <v-layout row text-xs-left>
          <v-flex sm2 xs4 class="text-field">
            <span class="subheading">Title</span>
          </v-flex>
          <v-flex sm10 xs8 class="text-field">
            <span>{{item.title}}</span>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text>
        <v-layout row text-xs-left>
          <v-flex sm2 xs4 class="text-field">
            <span class="subheading">Subject</span>
          </v-flex>
          <v-flex sm10 xs8 class="text-field">
            <span>{{item.subject}}</span>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text>
        <v-layout row text-xs-left>
          <v-flex sm2 xs4 class="text-field">
            <span class="subheading">Creator</span>
          </v-flex>
          <v-flex sm10 xs8 class="text-field">
            <span>{{item.creator}}</span>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text>
        <v-layout row text-xs-left>
          <v-flex sm2 xs4 class="text-field">
            <span class="subheading">Description</span>
          </v-flex>
          <v-flex sm10 xs8 class="text-field">
            <span>{{item.description}}</span>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text>
        <v-layout row text-xs-left>
          <v-flex sm2 xs4 class="text-field">
            <span class="subheading">Format</span>
          </v-flex>
          <v-flex sm10 xs8 class="text-field">
            <span>{{item.format}}</span>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click="openSite(item.id)">Open site</v-btn>
      </v-card-actions>
    </v-card>

    <div style="height: 20px"></div>

    <v-expansion-panel expand v-if="item.format === 'csv'">
      <v-expansion-panel-content v-for="(itemData, itemDataIndex) of item.data"
                                 :key="itemDataIndex"
      >
        <div slot="header">{{getLogicalName(itemData)}}</div>
        <v-card>
          <v-card-text class="grey lighten-3">
            <div v-for="(key, keyIndex) of item.keys">
              <v-layout row>
                <v-flex sm2 xs4 class="text-field">
                  <span>{{key}}</span>
                </v-flex>
                <v-flex sm10 xs8 class="text-field">
                  <span>{{itemData['' + keyIndex]}}</span>
                </v-flex>
              </v-layout>
            </div>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-card v-if="item.format === 'json' || item.format === 'xml'">
      <v-card-text>
        <tree-view :data="JSON.parse(item.data)"
                   class="tree"
        >
        </tree-view>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  export default {
    name: 'explorer-item',
    props: ['item', 'targetLink'],
    methods: {
      openSite (id) {
        window.open(`https://data.gov.ru/opendata/${id}`, '_blank')
      },
      getLogicalName (data) {
        for (let i = 0; i < Object.keys(data).length; i += 1) {
          if (isNaN(parseInt(data[i.toString()]))) {
            return data[i.toString()]
          }
        }
        return data['0']
      }
    }
  }
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter, .fade-leave-to {
    opacity: 0
  }

  .tree {
    text-align: left;
  }

  .text-field {
    word-break: break-all;
  }
</style>
