<template>
  <div class="hello">
    <div v-for="item of items">
      <explorer-item-short :item="item"
                           @open="open(item.identifier)"
                           @openSite="openSite(item.identifier)"
      >
      </explorer-item-short>
      <div style="height: 20px"></div>
    </div>
    <v-pagination v-if="!this.dialog"
                  :length="50"
                  v-model="page"
                  @input="pageChanged"
    ></v-pagination>
    <div style="height: 20px"></div>
    <preloader :model="dialog"
               text="Loading...">
    </preloader>
  </div>
</template>

<script>
  import SmartCityService from '../services/SmartCityService'
  import ExplorerItemShort from '@/components/ExplorerItemShort'
  import Preloader from '@/components/Preloader'
  export default {
    name: 'explorer',
    components: {
      ExplorerItemShort,
      Preloader
    },
    data () {
      return {
        items: [],
        page: 1,
        pageItemCount: 20,
        dialog: true
      }
    },
    methods: {
      open (id) {
        this.$router.push({
          name: 'ExplorerItemPage',
          params: {
            id: id
          }
        })
      },
      openSite (id) {
        window.open(`https://data.gov.ru/opendata/${id}`, '_blank')
      },
      async pageChanged () {
        this.dialog = true
        this.items = await SmartCityService.getDataAll(this.page, this.pageItemCount)
        this.dialog = false
      }
    },
    async mounted () {
      this.items = await SmartCityService.getDataAll(this.page, this.pageItemCount)
      this.dialog = false
    }
  }
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter, .fade-leave-to {
    opacity: 0
  }
</style>
