<template>
  <v-card>
    <v-card-text>
      <v-layout row text-xs-left>
        <v-flex sm2 xs4 class="text-field">
          <span class="subheading">Title</span>
        </v-flex>
        <v-flex sm10 xs8 class="text-field">
          <span>{{item.title}}</span>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-text>
      <v-layout row text-xs-left>
        <v-flex sm2 xs4 class="text-field">
          <span class="subheading">Subject</span>
        </v-flex>
        <v-flex sm10 xs8 class="text-field">
          <span>{{item.organization_name}}</span>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-text>
      <v-layout row text-xs-left>
        <v-flex sm2 xs4 class="text-field">
          <span class="subheading">Creator</span>
        </v-flex>
        <v-flex sm10 xs8 class="text-field">
          <span>{{item.topic}}</span>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-text v-if="!!item.format">
      <v-layout row text-xs-left>
        <v-flex sm2 xs4 class="text-field">
          <span class="subheading">Format</span>
        </v-flex>
        <v-flex sm10 xs8 class="text-field">
          <span>{{item.format}}</span>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn flat @click="open()">Open</v-btn>
      <v-btn flat @click="openSite()">Open site</v-btn>
    </v-card-actions>
  </v-card>

</template>

<script>
  export default {
    name: 'explorer-item-short',
    props: ['item'],
    methods: {
      open () {
        this.$emit('open')
      },
      openSite () {
        this.$emit('openSite')
      }
    }
  }
</script>

<style scoped>
  .text-field {
    word-break: break-all;
  }
</style>
