<template>
  <v-dialog v-model="model"
            persistent
            width="300"
  >
    <v-card>
      <v-card-text>
        {{text}}
        <v-progress-linear indeterminate class="mb-0"></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'preloader',
    props: ['text', 'model']
  }
</script>

<style scoped>

</style>
