<template>
  <v-navigation-drawer clipped
                       fixed
                       v-model="drawer"
                       app>
    <v-list>
      <!--<v-list-tile>-->
        <!--<v-list-tile-content>-->
          <!--<v-list-tile-title >-->
            <!--<span>Menu</span>-->
          <!--</v-list-tile-title>-->
        <!--</v-list-tile-content>-->
      <!--</v-list-tile>-->
      <!--<v-divider></v-divider>-->
      <template v-for="(item, index) in items">
        <v-list-tile :href="item.href" :to="{name: item.href}">
          <v-list-tile-action>
            <v-icon light v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-html="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    name: 'Sidebar',
    props: ['drawer', 'items']
  }
</script>
