<template>
  <v-toolbar app fixed clipped-left>
    <v-toolbar-side-icon @click.stop="toggleDrawer"></v-toolbar-side-icon>
    <v-toolbar-title>Smart City Service</v-toolbar-title>
  </v-toolbar>
</template>

<script>
  export default {
    name: 'Toolbar',
    props: ['drawer'],
    methods: {
      toggleDrawer () {
        this.$emit('toggleDrawer')
      }
    }
  }
</script>
