<template>
  <div id="app">
    <main-layout>
      <toolbar slot="toolbar"
               :drawer="sideDrawer"
               @toggleDrawer="toggleSideDrawer"
      ></toolbar>
      <sidebar slot="sidebar"
               :drawer="sideDrawer"
               :items="toolbarItems"
      ></sidebar>
      <template slot="content">
        <v-fade-transition mode="out-in">
          <router-view></router-view>
        </v-fade-transition>
      </template>
      <v-footer slot="footer" app fixed>
        <span>&copy; 2018</span>
      </v-footer>
    </main-layout>
  </div>
</template>

<script>
  import MainLayout from './layouts/MainLayout.vue'
  import Sidebar from './components/Sidebar.vue'
  import Toolbar from './components/Toolbar.vue'

  const toolbarItems = [
    {
      href: 'HomePage',
      router: true,
      title: 'Government Data',
      icon: 'home'
    },
    {
      href: 'VKPage',
      router: true,
      title: 'VK Data',
      icon: 'public'
    },
    {
      href: 'ExamplePage',
      router: true,
      title: 'Example',
      icon: 'list_alt'
    },
    {
      href: 'SettingsPage',
      router: true,
      title: 'Settings',
      icon: 'settings'
    },
    {
      href: 'AboutPage',
      router: true,
      title: 'About',
      icon: 'domain'
    }
  ]

  export default {
    components: {
      Toolbar,
      Sidebar,
      MainLayout
    },
    name: 'Application',
    data () {
      return {
        sideDrawer: this.$vuetify.breakpoint.lgAndDown,
        toolbarItems: toolbarItems
      }
    },
    methods: {
      toggleSideDrawer () {
        this.sideDrawer = !this.sideDrawer
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
