<template>
  <v-app light>
    <slot name="sidebar"></slot>
    <slot name="toolbar"></slot>
    <v-content>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <slot name="content"></slot>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <slot name="footer"></slot>
  </v-app>
</template>

<script>
  export default {
    name: 'MainLayout'
  }
</script>
